In [2]:
# Importing all the dependencies.
import requests
import json
import pandas as pd

In [3]:
#Importing the CSV.
Co2_df1=pd.read_csv(r"C:\Users\karki\Downloads\owid-co2-data.csv")

In [6]:
Co2_df1

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.157,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.156,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.156,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.155,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47410,Zimbabwe,2018,ZWE,15052191.0,2.678627e+10,0.558,0.037,10.715,1.419,15.265,...,NaN,0.114,0.001,0.001,0.002,0.0,116.76,29.37,-0.088,-0.825
47411,Zimbabwe,2019,ZWE,15354606.0,2.514642e+10,0.473,0.031,9.775,-0.939,-8.765,...,NaN,0.113,0.001,0.001,0.002,0.0,116.03,28.70,0.143,1.463
47412,Zimbabwe,2020,ZWE,15669663.0,2.317871e+10,0.496,0.032,7.850,-1.926,-19.700,...,NaN,0.112,0.001,0.001,0.002,0.0,113.20,25.99,0.818,10.421
47413,Zimbabwe,2021,ZWE,15993525.0,2.514009e+10,0.531,0.033,8.396,0.547,6.962,...,NaN,0.110,0.001,0.001,0.002,0.0,NaN,NaN,1.088,12.956
47414,Zimbabwe,2022,ZWE,16320539.0,2.590159e+10,0.531,0.033,8.856,0.460,5.477,...,NaN,0.110,0.001,0.001,0.002,0.0,NaN,NaN,NaN,NaN

In [8]:
Co2_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47415 entries, 0 to 47414
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    47415 non-null  object
 1   year                                       47415 non-null  int64
 2   iso_code                                   39548 non-null  object
 3   population                                 39414 non-null  float64
 4   gdp                                        15211 non-null  float64
 5   cement_co2                                 23764 non-null  float64
 6   cement_co2_per_capita                      22017 non-null  float64
 7   co2                                        30308 non-null  float64
 8   co2_growth_abs                             28157 non-null  float64
 9   co2_growth_prct                            24684 non-null  float64
 10  co2_including_luc                          23320 non-null  float64
 11  co2_including_luc_growth_abs               23030 non-null  float64
 12  co2_including_luc_growth_prct              22883 non-null  float64
 13  co2_including_luc_per_capita               23320 non-null  float64
 14  co2_including_luc_per_gdp                  16337 non-null  float64
 15  co2_including_luc_per_unit_energy          9607 non-null   float64
 16  co2_per_capita                             26600 non-null  float64
 17  co2_per_gdp                                17075 non-null  float64
 18  co2_per_unit_energy                        10240 non-null  float64
 19  coal_co2                                   25075 non-null  float64
 20  coal_co2_per_capita                        24389 non-null  float64
 21  consumption_co2                            4718 non-null   float64
 22  consumption_co2_per_capita                 4365 non-null   float64
 23  consumption_co2_per_gdp                    4309 non-null   float64
 24  cumulative_cement_co2                      23681 non-null  float64
 25  cumulative_co2                             28495 non-null  float64
 26  cumulative_co2_including_luc               23320 non-null  float64
 27  cumulative_coal_co2                        24992 non-null  float64
 28  cumulative_flaring_co2                     24909 non-null  float64
 29  cumulative_gas_co2                         25000 non-null  float64
 30  cumulative_luc_co2                         37022 non-null  float64
 31  cumulative_oil_co2                         25028 non-null  float64
 32  cumulative_other_co2                       2593 non-null   float64
 33  energy_per_capita                          10018 non-null  float64
 34  energy_per_gdp                             7695 non-null   float64
 35  flaring_co2                                24992 non-null  float64
 36  flaring_co2_per_capita                     24261 non-null  float64
 37  gas_co2                                    25083 non-null  float64
 38  gas_co2_per_capita                         24352 non-null  float64
 39  ghg_excluding_lucf_per_capita              6354 non-null   float64
 40  ghg_per_capita                             6354 non-null   float64
 41  land_use_change_co2                        37022 non-null  float64
 42  land_use_change_co2_per_capita             36313 non-null  float64
 43  methane                                    6355 non-null   float64
 44  methane_per_capita                         6355 non-null   float64
 45  nitrous_oxide                              6355 non-null   float64
 46  nitrous_oxide_per_capita                   6355 non-null   float64
 47  oil_co2                                    25111 non-null  float64
 48  oil_co2_per_capita                         24380 non-null  float64
 49  other_co2_per_capita                       2447 non-null   float64
 50  other_industry_co2                         2593 non-null   float64
 51  primary_energy_consumption                 10060 non-null  float64
 52  share_global_cement_co2                    20208 non-null  float64
 53  share_global_co2                           28495 non-null  float64
 54  share_global_co2_including_luc             23320 non-null  float64
 55  share_global_coal_co2                      24992 non-null  float64
 56  share_global_cumulative_cement_co2         20208 non-null  float64
 57  share_global_cumulative_co2                28495 non-null  float64
 58  share_global_cumulative_co2_including_luc  23320 non-null  float64
 59  share_global_cumulative_coal_co2           24992 non-null  float64
 60  share_global_cumulative_flaring_co2        16129 non-null  float64
 61  share_global_cumulative_gas_co2            22156 non-null  float64
 62  share_global_cumulative_luc_co2            37022 non-null  float64
 63  share_global_cumulative_oil_co2            23513 non-null  float64
 64  share_global_cumulative_other_co2          2593 non-null   float64
 65  share_global_flaring_co2                   16129 non-null  float64
 66  share_global_gas_co2                       22156 non-null  float64
 67  share_global_luc_co2                       37022 non-null  float64
 68  share_global_oil_co2                       23513 non-null  float64
 69  share_global_other_co2                     2593 non-null   float64
 70  share_of_temperature_change_from_ghg       41280 non-null  float64
 71  temperature_change_from_ch4                37840 non-null  float64
 72  temperature_change_from_co2                41280 non-null  float64
 73  temperature_change_from_ghg                41280 non-null  float64
 74  temperature_change_from_n2o                37840 non-null  float64
 75  total_ghg                                  6354 non-null   float64
 76  total_ghg_excluding_lucf                   6354 non-null   float64
 77  trade_co2                                  4398 non-null   float64
 78  trade_co2_share                            4397 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 28.6+ MB

In [10]:
#Sorting out the needed columns.
columns_to_include = [
    'country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita', 'co2', 
    'co2_per_capita', 'co2_per_gdp', 'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 
    'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_cement_co2', 'oil_co2', 
    'oil_co2_per_capita', 'other_co2_per_capita', 'temperature_change_from_ch4', 
    'temperature_change_from_co2', 'temperature_change_from_ghg', 'temperature_change_from_n2o', 
    'other_industry_co2'
]

In [12]:
Final_data = Co2_df1[columns_to_include]
Final_data.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_per_capita,co2_per_gdp,...,consumption_co2_per_gdp,cumulative_cement_co2,oil_co2,oil_co2_per_capita,other_co2_per_capita,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,other_industry_co2
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN

In [14]:
Final_data.to_csv(r"C:\Users\karki\Desktop\Group project 3\Project_3_Group_4\Datasets\CO2.csv")

In [15]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [18]:
# Creating an instance of MongoClient
mongo = MongoClient(port=27017)

In [20]:
# confirm that our new database was created
print("Databases available:")
print(mongo.list_database_names())

Databases available:
['CO2emission', 'Weather', 'admin', 'config', 'local', 'uk_food']

In [22]:
# assign the CO@emission database to a variable name
db = mongo['CO2emission']

In [24]:
# review the collections in our new database
print(db.list_collection_names())

['CO2']

In [26]:
# review a document in the CO2 collection
collection = db['CO2']

In [28]:
mongo_data = list(collection.find())

In [30]:
CO2_df = pd.DataFrame(mongo_data)

In [32]:
CO2_df.head()

,_id,,country,year,iso_code,population,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,...,cumulative_cement_co2,oil_co2,oil_co2_per_capita,gdp,co2_per_gdp,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,other_co2_per_capita,other_industry_co2
0,66dee3855678f5f379419704,0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66dee3855678f5f379419705,1,Afghanistan,1851,AFG,3767956.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,66dee3855678f5f379419706,2,Afghanistan,1852,AFG,3783940.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,66dee3855678f5f379419707,3,Afghanistan,1853,AFG,3800954.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,66dee3855678f5f379419708,4,Afghanistan,1854,AFG,3818038.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
null_counts = CO2_df.isnull().sum()
null_counts

_id                                0
                                   0
country                            0
year                               0
iso_code                        7867
population                      8001
temperature_change_from_ch4     9575
temperature_change_from_co2     6135
temperature_change_from_ghg     6135
temperature_change_from_n2o     9575
cement_co2                     23651
cement_co2_per_capita          25398
co2                            17107
co2_per_capita                 20815
coal_co2                       22340
coal_co2_per_capita            23026
cumulative_cement_co2          23734
oil_co2                        22304
oil_co2_per_capita             23035
gdp                            32204
co2_per_gdp                    30340
consumption_co2                42697
consumption_co2_per_capita     43050
consumption_co2_per_gdp        43106
other_co2_per_capita           44968
other_industry_co2             44822
dtype: int64

### A lot of data below 1990 were missing so we decide to do a time series analysis after 1990

In [36]:
filtered_df = CO2_df[CO2_df['year'] > 1990]
filtered_df

,_id,,country,year,iso_code,population,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,...,cumulative_cement_co2,oil_co2,oil_co2_per_capita,gdp,co2_per_gdp,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,other_co2_per_capita,other_industry_co2
141,66dee3855678f5f379419791,141,Afghanistan,1991,AFG,10745168.0,0.000,0.000,0.001,0.0,...,1.582,1.204,0.112,1.204736e+10,0.159,NaN,NaN,NaN,NaN,NaN
142,66dee3855678f5f379419792,142,Afghanistan,1992,AFG,12057436.0,0.000,0.000,0.001,0.0,...,1.628,1.030,0.085,1.267754e+10,0.117,NaN,NaN,NaN,NaN,NaN
143,66dee3855678f5f379419793,143,Afghanistan,1993,AFG,14003764.0,0.000,0.000,0.001,0.0,...,1.675,1.048,0.075,9.834582e+09,0.151,NaN,NaN,NaN,NaN,NaN
144,66dee3855678f5f379419794,144,Afghanistan,1994,AFG,15455560.0,0.000,0.000,0.001,0.0,...,1.722,1.032,0.067,7.919857e+09,0.184,NaN,NaN,NaN,NaN,NaN
145,66dee3855678f5f379419795,145,Afghanistan,1995,AFG,16418911.0,0.000,0.000,0.001,0.0,...,1.769,1.011,0.062,1.230753e+10,0.115,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47410,66dee3885678f5f379425036,47410,Zimbabwe,2018,ZWE,15052191.0,0.001,0.001,0.002,0.0,...,19.037,4.060,0.270,2.678627e+10,0.400,10.626,0.706,0.397,NaN,NaN
47411,66dee3885678f5f379425037,47411,Zimbabwe,2019,ZWE,15354606.0,0.001,0.001,0.002,0.0,...,19.509,3.731,0.243,2.514642e+10,0.389,9.918,0.646,0.394,NaN,NaN
47412,66dee3885678f5f379425038,47412,Zimbabwe,2020,ZWE,15669663.0,0.001,0.001,0.002,0.0,...,20.005,3.045,0.194,2.317871e+10,0.339,8.668,0.553,0.374,NaN,NaN
47413,66dee3885678f5f379425039,47413,Zimbabwe,2021,ZWE,15993525.0,0.001,0.001,0.002,0.0,...,20.536,3.317,0.207,2.514009e+10,0.334,9.484,0.593,0.377,NaN,NaN
47414,66dee3885678f5f37942503a,47414,Zimbabwe,2022,ZWE,16320539.0,0.001,0.001,0.002,0.0,...,21.067,3.298,0.202,2.590159e+10,0.342,NaN,NaN,NaN,NaN,NaN

In [38]:
null_counts = filtered_df.isnull().sum()
null_counts

_id                               0
                                  0
country                           0
year                              0
iso_code                       1217
population                      887
temperature_change_from_ch4    1153
temperature_change_from_co2     513
temperature_change_from_ghg     513
temperature_change_from_n2o    1153
cement_co2                     1029
cement_co2_per_capita          1094
co2                             419
co2_per_capita                  821
coal_co2                        752
coal_co2_per_capita             834
cumulative_cement_co2          1030
oil_co2                         752
oil_co2_per_capita              834
gdp                            2937
co2_per_gdp                    2425
consumption_co2                3622
consumption_co2_per_capita     3964
consumption_co2_per_gdp        4019
other_co2_per_capita           6241
other_industry_co2             6177
dtype: int64

In [87]:
Filtered_co2 = filtered_df.dropna()
Filtered_co2

,_id,,country,year,iso_code,population,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,...,cumulative_cement_co2,oil_co2,oil_co2_per_capita,gdp,co2_per_gdp,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,other_co2_per_capita,other_industry_co2
3410,66dee3855678f5f37941a456,3410,Australia,1991,AUS,17271092.0,0.007,0.008,0.017,0.002,...,93.356,88.177,5.105,4.613021e+11,0.606,243.937,14.124,0.529,0.133,2.304
3411,66dee3855678f5f37941a457,3411,Australia,1992,AUS,17462500.0,0.007,0.009,0.017,0.002,...,96.279,87.849,5.031,4.786338e+11,0.594,246.536,14.118,0.515,0.139,2.434
3412,66dee3855678f5f37941a458,3412,Australia,1993,AUS,17631514.0,0.007,0.009,0.018,0.002,...,99.284,90.318,5.123,5.015248e+11,0.576,247.453,14.035,0.493,0.150,2.648
3413,66dee3855678f5f37941a459,3413,Australia,1994,AUS,17805506.0,0.007,0.009,0.018,0.002,...,102.768,91.854,5.159,5.279932e+11,0.556,256.014,14.378,0.485,0.173,3.074
3414,66dee3855678f5f37941a45a,3414,Australia,1995,AUS,18003002.0,0.007,0.009,0.018,0.002,...,106.126,96.068,5.336,5.490388e+11,0.556,261.645,14.533,0.477,0.166,2.988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45130,66dee3885678f5f37942474e,45130,United States,2017,USA,329791232.0,0.035,0.225,0.271,0.010,...,2634.073,2315.177,7.020,1.760612e+13,0.296,5631.146,17.075,0.320,0.084,27.804
45131,66dee3885678f5f37942474f,45131,United States,2018,USA,332140032.0,0.035,0.228,0.273,0.010,...,2673.044,2366.168,7.124,1.812469e+13,0.297,5798.152,17.457,0.320,0.074,24.686
45132,66dee3885678f5f379424750,45132,United States,2019,USA,334319680.0,0.035,0.230,0.276,0.010,...,2713.940,2360.999,7.062,1.854055e+13,0.284,5685.684,17.007,0.307,0.074,24.677
45133,66dee3885678f5f379424751,45133,United States,2020,USA,335942016.0,0.035,0.232,0.278,0.010,...,2754.627,2047.544,6.095,1.802736e+13,0.262,5186.558,15.439,0.288,0.073,24.472
45134,66dee3885678f5f379424752,45134,United States,2021,USA,336997632.0,0.035,0.234,0.280,0.010,...,2795.940,2239.014,6.644,1.909938e+13,0.263,5572.173,16.535,0.292,0.074,24.837

In [42]:
duplicates = Filtered_co2[Filtered_co2.duplicated()]
duplicates

Empty DataFrame
Columns: [_id, , country, year, iso_code, population, temperature_change_from_ch4, temperature_change_from_co2, temperature_change_from_ghg, temperature_change_from_n2o, cement_co2, cement_co2_per_capita, co2, co2_per_capita, coal_co2, coal_co2_per_capita, cumulative_cement_co2, oil_co2, oil_co2_per_capita, gdp, co2_per_gdp, consumption_co2, consumption_co2_per_capita, consumption_co2_per_gdp, other_co2_per_capita, other_industry_co2]
Index: []

[0 rows x 26 columns]

In [44]:
Filtered_co2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1352 entries, 3410 to 45134
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          1352 non-null   object
 1                                1352 non-null   int64
 2   country                      1352 non-null   object
 3   year                         1352 non-null   int64
 4   iso_code                     1352 non-null   object
 5   population                   1352 non-null   float64
 6   temperature_change_from_ch4  1352 non-null   float64
 7   temperature_change_from_co2  1352 non-null   float64
 8   temperature_change_from_ghg  1352 non-null   float64
 9   temperature_change_from_n2o  1352 non-null   float64
 10  cement_co2                   1352 non-null   float64
 11  cement_co2_per_capita        1352 non-null   float64
 12  co2                          1352 non-null   float64
 13  co2_per_capita               1352 non-null   float64
 14  coal_co2                     1352 non-null   float64
 15  coal_co2_per_capita          1352 non-null   float64
 16  cumulative_cement_co2        1352 non-null   float64
 17  oil_co2                      1352 non-null   float64
 18  oil_co2_per_capita           1352 non-null   float64
 19  gdp                          1352 non-null   float64
 20  co2_per_gdp                  1352 non-null   float64
 21  consumption_co2              1352 non-null   float64
 22  consumption_co2_per_capita   1352 non-null   float64
 23  consumption_co2_per_gdp      1352 non-null   float64
 24  other_co2_per_capita         1352 non-null   float64
 25  other_industry_co2           1352 non-null   float64
dtypes: float64(21), int64(2), object(3)
memory usage: 285.2+ KB

In [58]:
country_grouped = Filtered_co2.groupby('country')[['co2']].mean().reset_index()

In [60]:
country_grouped

           country          co2
0        Australia   368.489742
1          Austria    68.399742
2          Belarus    63.344516
3          Belgium   115.122677
4           Brazil   388.424161
5         Bulgaria    49.865452
6           Canada   545.115806
7            China  6639.285452
8          Croatia    19.514097
9           Cyprus     7.089484
10         Czechia   120.330645
11         Denmark    50.312806
12         Estonia    17.737935
13         Finland    55.954129
14          France   375.372355
15         Germany   855.674903
16          Greece    90.617032
17         Hungary    55.785516
18         Ireland    40.456226
19           Italy   425.995129
20           Japan  1221.553000
21      Kazakhstan   216.782452
22          Latvia     8.558677
23       Lithuania    14.921161
24      Luxembourg    10.174000
25           Malta     2.367161
26     Netherlands   168.922645
27     New Zealand    33.514194
28          Norway    44.023632
29          Poland   333.718129
30        Portugal    55.462452
31         Romania    98.911097
32          Russia  1649.270194
33        Slovakia    40.366613
34        Slovenia    15.398226
35     South Korea   509.953323
36           Spain   284.782710
37          Sweden    51.424968
38     Switzerland    42.360516
39          Taiwan   238.944000
40          Turkey   288.586871
41         Ukraine   321.476968
42  United Kingdom   509.832581
43   United States  5569.123387

In [56]:
!pip install geopy

Collecting geopy
  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl.metadata
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Obtaining dependency information for geographiclib<3,>=1.52 from https://files.pythonhosted.org/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl.metadata
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --- ------------------------------------ 10.2/125.4 kB ? eta -:--:--
   ------------------- ------------------- 61.4/125.4 kB 825.8 kB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 1.5 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB ? eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [62]:
from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

# Function to get the longitude and latitude of a country
def get_coordinates(country_name):
    location = geolocator.geocode(country_name)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

# Apply the function to your DataFrame to get the coordinates for each country
country_grouped['latitude'], country_grouped['longitude'] = zip(*country_grouped['country'].apply(get_coordinates))

# Display the updated DataFrame with latitude and longitude
country_grouped.head()

     country         co2   latitude   longitude
0  Australia  368.489742 -24.776109  134.755000
1    Austria   68.399742  47.593970   14.124560
2    Belarus   63.344516  53.425061   27.697136
3    Belgium  115.122677  50.640281    4.666715
4     Brazil  388.424161 -10.333333  -53.200000

In [91]:
Filtered_co2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1352 entries, 3410 to 45134
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          1352 non-null   object
 1                                1352 non-null   int64
 2   country                      1352 non-null   object
 3   year                         1352 non-null   int64
 4   iso_code                     1352 non-null   object
 5   population                   1352 non-null   float64
 6   temperature_change_from_ch4  1352 non-null   float64
 7   temperature_change_from_co2  1352 non-null   float64
 8   temperature_change_from_ghg  1352 non-null   float64
 9   temperature_change_from_n2o  1352 non-null   float64
 10  cement_co2                   1352 non-null   float64
 11  cement_co2_per_capita        1352 non-null   float64
 12  co2                          1352 non-null   float64
 13  co2_per_capita               1352 non-null   float64
 14  coal_co2                     1352 non-null   float64
 15  coal_co2_per_capita          1352 non-null   float64
 16  cumulative_cement_co2        1352 non-null   float64
 17  oil_co2                      1352 non-null   float64
 18  oil_co2_per_capita           1352 non-null   float64
 19  gdp                          1352 non-null   float64
 20  co2_per_gdp                  1352 non-null   float64
 21  consumption_co2              1352 non-null   float64
 22  consumption_co2_per_capita   1352 non-null   float64
 23  consumption_co2_per_gdp      1352 non-null   float64
 24  other_co2_per_capita         1352 non-null   float64
 25  other_industry_co2           1352 non-null   float64
dtypes: float64(21), int64(2), object(3)
memory usage: 285.2+ KB

In [93]:
import datetime

In [95]:
Filtered_co2['year'] = pd.to_datetime(Filtered_co2['year'], format='%Y')

C:\Users\karki\AppData\Local\Temp\ipykernel_24188\515294966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filtered_co2['year'] = pd.to_datetime(Filtered_co2['year'], format='%Y')

In [97]:
Filtered_co2.to_csv(r"C:\Users\karki\Desktop\Class Activities\Project_3 Group 4\finaldata.csv")

In [99]:
import hvplot.pandas

In [105]:
map_plot2 = country_grouped.hvplot.points(
    "longitude",
    "latitude",
    geo = True,
    tiles = "OSM",
    frame_width = 700,
    frame_height = 500,
    size = "co2",
    alpha=0.5,
    scale = 1,
    color = "country",
    hover_cols="country",
    title='c02 emission',
    xlabel = 'Longitude',
    ylabel = 'latitude'
    
)

map_plot2

:Overlay
   .Tiles.I  :Tiles   [x,y]
   .Points.I :Points   [longitude,latitude]   (country,co2)

In [107]:
# confirm that our new database was created
print("Databases available:")
print(mongo.list_database_names())

Databases available:
['CO2emission', 'Weather', 'admin', 'config', 'local', 'uk_food']

In [109]:
db = mongo['CO2emission']

In [111]:
print(db.list_collection_names())

['Country_temp', 'Country_CO2', 'CO2']

### We have added two more collections to our database.

In [114]:
collection2 = db['Country_temp']

In [116]:
Country_temp = list(collection2.find())

In [118]:
temp_df = pd.DataFrame(Country_temp)

In [122]:
temp_df.head()

,_id,Entity,Code,Year,surface_temp_from_n2o,surface_temp_from_ch4,surface_temp_from_co2
0,66def25d5678f5f379425068,Afghanistan,AFG,1851,1.025214e-07,0.000001,0.000002
1,66def25d5678f5f379425069,Afghanistan,AFG,1852,2.070834e-07,0.000002,0.000003
2,66def25d5678f5f37942506a,Afghanistan,AFG,1853,3.135985e-07,0.000004,0.000005
3,66def25d5678f5f37942506b,Afghanistan,AFG,1854,4.219460e-07,0.000005,0.000007
4,66def25d5678f5f37942506c,Afghanistan,AFG,1855,5.319718e-07,0.000006,0.000008

In [126]:
temp_filtered= temp_df[temp_df['Year']>1990]
temp_filtered.head()

,_id,Entity,Code,Year,surface_temp_from_n2o,surface_temp_from_ch4,surface_temp_from_co2
140,66def25d5678f5f3794250f4,Afghanistan,AFG,1991,0.000084,0.000378,0.000429
141,66def25d5678f5f3794250f5,Afghanistan,AFG,1992,0.000085,0.000376,0.000430
142,66def25d5678f5f3794250f6,Afghanistan,AFG,1993,0.000086,0.000373,0.000431
143,66def25d5678f5f3794250f7,Afghanistan,AFG,1994,0.000087,0.000370,0.000431
144,66def25d5678f5f3794250f8,Afghanistan,AFG,1995,0.000088,0.000367,0.000432

In [133]:
temp_filtered['Year'] = pd.to_datetime(temp_filtered['Year'], format='%Y')

C:\Users\karki\AppData\Local\Temp\ipykernel_24188\2353055174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_filtered['Year'] = pd.to_datetime(temp_filtered['Year'], format='%Y')

In [135]:
merged_df= pd.merge(temp_filtered, Filtered_co2, left_on=['Entity', 'Year'], right_on=['country', 'year'], how='inner')

In [141]:
merged_df.head()

,_id_x,Entity,Code,Year,surface_temp_from_n2o,surface_temp_from_ch4,surface_temp_from_co2,_id_y,,country,...,cumulative_cement_co2,oil_co2,oil_co2_per_capita,gdp,co2_per_gdp,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,other_co2_per_capita,other_industry_co2
0,66def25d5678f5f379425a5c,Australia,AUS,1991-01-01,0.002002,0.006863,0.008368,66dee3855678f5f37941a456,3410,Australia,...,93.356,88.177,5.105,4.613021e+11,0.606,243.937,14.124,0.529,0.133,2.304
1,66def25d5678f5f379425a5d,Australia,AUS,1992-01-01,0.002033,0.006884,0.008517,66dee3855678f5f37941a457,3411,Australia,...,96.279,87.849,5.031,4.786338e+11,0.594,246.536,14.118,0.515,0.139,2.434
2,66def25d5678f5f379425a5e,Australia,AUS,1993-01-01,0.002065,0.006932,0.008668,66dee3855678f5f37941a458,3412,Australia,...,99.284,90.318,5.123,5.015248e+11,0.576,247.453,14.035,0.493,0.150,2.648
3,66def25d5678f5f379425a5f,Australia,AUS,1994-01-01,0.002097,0.006964,0.008822,66dee3855678f5f37941a459,3413,Australia,...,102.768,91.854,5.159,5.279932e+11,0.556,256.014,14.378,0.485,0.173,3.074
4,66def25d5678f5f379425a60,Australia,AUS,1995-01-01,0.002129,0.006984,0.009007,66dee3855678f5f37941a45a,3414,Australia,...,106.126,96.068,5.336,5.490388e+11,0.556,261.645,14.533,0.477,0.166,2.988

In [ ]:
merged_df.to_csv(r"C:\Users\karki\Desktop\Class Activities\Project_3 Group 4\Tempdata.csv")